* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

@font-face {
  font-family: 'Equity Text A';
  src: url('equity_text_a_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Equity Text A';
  src: url('equity_text_a_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Equity Text A', serif;
  font-size: 3vmin;
  line-height: 1.2em;
  color: #454545;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  font-size: 9vmin;
  line-height: 1.1em;
  font-weight: normal;
}

img {
  border:1px solid #021a40;
  height: 13vw;
}

.job {
  margin-top: -12pt;
  font-style: italic;
}

.links {
  font-family: 'Equity Text A', serif;
  font-size: 1.5vw;
  line-height: 1.2em;
  color: #454545;
  margin: 10%;
} 

ul {
  padding-left: 0px;
}

a {
  color: #803232;
  text-decoration: none;
}

a:hover {
  background-color: #F3E7E7;
}
